<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header class="arrangement">
            <p>Subscribe</p>
            <h1>Large</h1>
            <div>
                <img src="../assets/search.png">
                <button>Sign up</button>
            </div>
    </header>
    <section>
        <ul type="none">
            <li>World</li>
            <li>U.S.</li>
            <li>Technology</li>
            <li>Design</li>
            <li>Culture</li>
            <li>Business</li>
            <li>Politics</li>
            <li>Opinion</li>
            <li>Science</li>
            <li>Health</li>
            <li>Style</li>
            <li>Travel</li>
        </ul>
        <div class="longCard">
            <div class="child_text">
                <h1>Title of a longer featured blog post</h1>
                <h6>Multiple lines of text that form the lede informing new readers quickly and efficiently about what's most interesting in this post's contents.</h6>
                <h3>Continue reading..</h3>
            </div>
        </div>

        <div class="subCards">
            <div class="firstCard">
                <div class="info1">
                    <p>World</p>
                    <h1>Featured Post</h1>
                    <p>Nov 12</p>
                    <p>This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <h4>Continue reading</h4>
                </div>
                <div class="thumbnail">
                    <p>Thumbnail</p>
                </div>
            </div>
            <div class="firstCard">
                <div class="info2">
                    <p>Design</p>
                    <h1>Post title</h1>
                    <p>Nov 11</p>
                    <p>This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <h4>Continue reading</h4>
                </div>
                <div class="thumbnail">
                    <p>Thumbnail</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>Album is example &copy; 2022</p>
        <p>Back to top</p>
    </footer>
</body>
</html>